/* Question Form styles */
.question_title {
  padding-left: 15px;
}

.question_form {
  padding: 20px;
  display: inline;
}

.question_form label, .question_form textarea {
  display: block;
}

label[for=question_body] {
  padding-bottom: 10px;
}

.question_form label {
  font-weight: 700;
}

.question_form input, .question_form textarea {
  margin-bottom: 20px;
}

.question_form #question_body {
  padding: 5px;
}

.question_form input[type="submit"] {
  background-color: darkred;
  border: none;
  padding: 10px;
  color: white;
  font-weight: 700;
}

.question_form input[type="submit"]:hover, .vote_btn:hover {
  background-color: red;
}

.vote_btn {
  background-color: darkred;
  border: none;
  padding: 5px;
  color: white;
  font-size: 14px;
  vertical-align: sub;
}
