<%if logged_in?%>
 <nav>
 <div class="nav-wrapper teal lighten-2" id="myTopnav">
   <a class="brand-logo"><img src="../imgs/so-icon.png" alt="" height="60" width="60"><span class="DBC">DBC <strong>OVERFLOW</strong></span></a>
   <ul class="right hide-on-med-and-down">
     <li><a href="/questions/new">Create Question</a></li>
   <li><a href="/questions/index">Home</a></li>
   <li><a href="/users/:id">Profile</a></li>
   <li><a href="/logout">Log Out</a></li>
 </div>
</nav>
 <% else %>
 <nav>
 <div class="nav-wrapper teal lighten-2" id="myTopnav">
   <a class="brand-logo"><img src="../imgs/so-icon.png" alt="" height="60" width="60"><span class="DBC">DBC <strong>OVERFLOW</strong></span></a>
   <ul class="right hide-on-med-and-down">
     <li><a href="/questions/index">Home</a></li>
     <li><a href="/login">Log in</a></li>
     <li><a href="/users/new">Sign up</a></li>
 </div>
 </nav>
 <% end %>
