<form action="/login" method="post">
  <div>
    <label for="username">Username:</label>
    <div>
      <input id="username" name="user[username]" type="text"/>
    </div>
  </div>
  <div>
    <label for="users_password">Password</label>
    <div>
      <input id="users_password" name="user[password]" type="password" required />
    </div>
  </div>
  <input type="submit" name="" value="Log in">
</form>
