<form action="/users" method="post">
  <div>
    <label for="username">Username:</label>
    <div>
      <input id="users_email" name="user[username]" type="text"/>
    </div>
  </div>
  <div>
    <label for="users_email">Email:</label>
    <div>
      <input id="users_email" name="user[email]" type="text"/>
    </div>
  </div>
  <div>
    <label for="users_password">Password</label>
    <div>
      <input id="users_password" name="user[password]" type="password" required />
    </div>
  </div>
  <input type="submit" name="" value="Sign up">
</form>
